<div class="container">
	<br>
  <h2>All Generated Boards</h2>
  <br>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Board Name</th>
        <th>Email</th>
        <th>Created</th>
      </tr>
    </thead>
    <tbody>
      <% @boards.each do |board| %>
        <tr>
          <td><a href="<%=board_path(board.id)%>"><%= board.name %></a></td>
          <td><%= board.user.email %></td>
          <td><small><%= board.created_at.strftime('%B %d, %Y %I:%M %p') %></small></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br><br>
  <%= link_to 'View all generated boards', board_list_path, class: 'btn btn-primary' %>
</div>
<br>