<%=turbo_frame_tag "test" do%>
<style type="text/css">
.board-pagination .pagination ul{
border: 1px solid #ccc;
padding: 10px 20px;
}
.board-pagination .pagination ul li{
margin-right: 10px;
}
</style>
<div class="container">
  <br>
  <h2>All Generated Boards</h2>
  <br>
  <%= form_tag boards_path, method: :get, class: "form-inline" do %>
  <div class="d-flex align-items-center justify-content-between mb-4 ">
    <div class="d-flex align-items-center">
      <label class="w-50">Filter boards :</label>
      <%= text_field_tag :keyword, params[:keyword], class: "form-control w-100 me-3", id: "filter", placeholder: "Filter by board name or email", autocomplete: "off" %>
      <button type="submit" class="btn btn-success hide--element me-3"></i>
      Apply
      </button>
      <a href="<%=boards_path%>" class="btn btn-danger">Reset</a>
    </div>
    <div>
      <a href="<%= new_board_path %>" class="btn btn-success w-100">Generate New board</a>
    </div>
  </div>
  <% end %>
  <% if @boards.any? %>
  <table class="table table-striped">
    <thead>
      <tr data-target="sid.tableRow">
        <th>Board Name</th>
        <th>Email</th>
        <th>Width</th>
        <th>Height</th>
        <th>Total Mines</th>
        <th>Created</th>
      </tr>
    </thead>
    <tbody>
      <% @boards.each do |board| %>
      <tr>
        <td><a href="<%= board_path(board.id) %>"><%= board.name %></a></td>
        <td><%= board.user.email %></td>
        <td><%= board.width %></td>
        <td><%= board.height %></td>
        <td><%= board.mines %></td>
        <td><small><%= board.created_at.strftime('%B %d, %Y %I:%M %p') %></small></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <div class="row board-pagination">
    <div class="col-lg-12">
      <div class="container pagination justify-content-center" >
        <%= will_paginate @boards, renderer: BootstrapPagination::Rails, class: "my-custom-pagination" %>
      </div>
    </div>
  </div>
  <% else %>
  <div class="d-flex align-items-center justify-content-center" style="min-height: 450px; border: 1px solid #ccc;">
    <div>
      <img src="<%=asset_url("no-data-found.jpg")%>">
      <p class="text-center">No records found.</p>
    </div>
  </div>
  <% end %>
</div>
<br>
<%end%>