<%=turbo_frame_tag "test" do%>
<div class="container-fluid mt-4">
  <div class="row">
    <div class="col-md-6 px-5">
      <div class="card">
        <% if flash[:notice]&.any? %>
          <% flash[:notice].each do |message| %>
            <%= message %><br>
          <% end %>
          <br>
        <% end %>
        <br>
        <div class="container">
          <h2>Generate new board</h2>
          <hr>
          <%= form_for @board, class: 'form' do |f| %>
          <div class="form-group mt-2">
            <%= f.fields_for :user_attributes do |u| %>
            <%= u.label :email %>
            <%= u.email_field :email, placeholder: "Enter your email", class: 'form-control', required: true, autocomplete: "off" %>
            <% end %>
          </div>
          <div class="form-group mt-2">
            <%= f.label :board_name %>
            <%= f.text_field :name, class: 'form-control', placeholder: "Enter board name", required: true %>
          </div>
          <div class="form-group mt-2">
            <%= f.label :board_width %>
            <%= f.number_field :width, class: 'form-control', placeholder: "Enter board width", required: true %>
          </div>
          <div class="form-group mt-2">
            <%= f.label :board_height %>
            <%= f.number_field :height, class: 'form-control', placeholder: "Enter board height", required: true %>
          </div>
          <div class="form-group mt-2">
            <%= f.label :total_mines %>
            <%= f.number_field :mines, class: 'form-control', placeholder: "Number of mines", required: true %>
          </div>
          
          <div class="pull-right mt-2 mb-2">
            <%= f.submit 'Generate Board', class: 'btn btn-primary' %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-6 pe-5">
      <div class="card">
        <div class="card-body">
          <div class="container">
            <h2>Newly New board</h2>
            <hr>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Board Name</th>
                  <th>Email</th>
                  <th>Created</th>
                </tr>
              </thead>
              <tbody>
                <% if @boards.any? %>
                <% @boards.each do |board| %>
                <tr>
                  <td><a href="<%=board_path(board.id)%>"><%= board.name %></a></td>
                  <td><%= board.user.email %></td>
                  <td><small><%= board.created_at.strftime('%B %d, %Y %I:%M %p') %></small></td>
                </tr>
                <% end %>
                <% else %>
                <tr>
                  <td colspan="3">No records found.</td>
                </tr>
              <% end %>
              </tbody>
            </table>
            <br><br>
            <a href="<%=boards_path%>" class="btn btn-danger">
              View all generated boards
            </a>
          </div>
          <br>
        </div>
      </div>
    </div>
  </div>
  <%end%>